body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
		background-color: var(--rich-black);
		color: white;
}

img {
    max-width: 100%;
    height: auto;
    /*margin: 20px 20px;*/
}

h1 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
    max-width: 600px;
    margin: 10px 0;
}

hr.socialDivider {
    border: none;
    border-top: 1px solid white; /* Hvit strek */
    width: 100%; /* Fyller hele bredden */
    margin: 20px 0; /* Gir luft mellom elementene */
}

.footerContainer{
    display: flex; /* Bruker flexbox for layout */
    justify-content: space-between; /* Fordeler plass mellom seksjonene */
    align-items: flex-start; /* Justerer elementene til toppen */
    padding: 20px; /* Polstring for å gi litt plass */
}


.adress {
    text-align: left; /* Juster teksten til venstre */
    color: white; /* Sørg for at teksten er hvit */
    margin-top: 10px; /* Legg til litt marg over adressen */
    padding-left: 15px;
}

.adress h3{
    text-align: left; /* Juster teksten til venstre */
    color: white; /* Sørg for at teksten er hvit */
    margin-top: 10px; /* Legg til litt marg over adressen */
    padding-left: 15px;
}

.adress p{
    text-align: left; /* Juster teksten til venstre */
    color: white; /* Sørg for at teksten er hvit */
    margin-top: 10px; /* Legg til litt marg over adressen */
    padding-left: 15px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a{
    color: #1b2d3cff;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #1b2d3cff;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none; 
    padding: 0;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.externLinks {
    text-align: right; /* Juster teksten til venstre */
    color: white; /* Sørg for at teksten er hvit */
    margin-top: 10px; /* Legg til litt marg over adressen */
    padding-right: 60px;
}

.externLinks h3{
    margin-bottom: 10px; /* Avstand under overskriften */
    width: 100%; 
}

.externLinks #externalLinksList {  /* Target the UL with ID */
    text-align: right;
    list-style-type: none; /* Fjerner standard punkter */
    padding: 0; /* Fjerner standard padding */
    margin: 0; /* Fjerner standard margin */
  }

.externLinks li {
    margin: 5px 0; /* Tilføjer lidt afstand mellem listeelementerne */
}

.externLinks a {
    text-decoration: none; /* Fjerner understregning fra links */
    color: white; /* Sætter farven på links */
    transition: color 0.3s; /* Giver en overgangseffekt */
}

.externLinks a:hover {
    color: #1b2d3cff; /* Skifter farven når man hover */
}

.footerBottom{
    background-color: #1b2d3cff;;
    padding: 10px;
    text-align: center;
}

.footerBottom .copyright {
    font-size: 0.8em;
    color: white; 
    margin: 0;
    display: inline; 
   
}

.footerBottom .designer {
   opacity: 0.7;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   margin: 0px 5px;
}
