@import url("footer.css");

body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
		background-color: var(--rich-black);
		color: white;
}

img {
    max-width: 100%;
    height: auto;
    /*margin: 20px 20px;*/
}

h1 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
    max-width: 600px;
    margin: 10px 0;
}

